/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base style elements */
h1 {
  text-align: center;
  position: relative;
  box-align: center;
  border: double;
  border-style: double;
  border-color: antiquewhite;
  font-size: 2em;
  line-height: 1em;
  padding: 0.625em;
  font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-weight: normal;
};
h3 {
  margin-left: 1%;
  font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  color: rgb(107, 134, 63);
  text-align: left;
  font-weight: normal;
}
h2 {
  margin-left: 1%;
  font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  color: rgb(38, 40, 139);
  text-align: center;
  font-weight: normal;
  align-self: center;
  font-size: 2em ;/* twice size 2/3 */
  line-height: 1em;/*  1/3 */
}
p {
  font-size: 1em;
  line-height: 1.333em;
}
#contenido {
  background-color: #686256;
}
#resume {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.625em;
  grid-auto-rows: minmax(6.25em, auto);
}
#biopic {
  grid-column: 1;
  grid-row: 1;
  background-color: #587e76;
  max-width: 29.563em;
  padding: 0.625em;
  border: solid;
  border-color: #c1502e;
  align-self: center;
  align-items: center;
}
#bio {
  grid-column: 1;
  grid-row: 2;
  background-color: #587e76;
  max-width: 29.563em;
  padding: 0.625em;
  border: solid;
  border-color: #c1502e;
  align-self: center;
}
#biopicture {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  align-self: center;
}
#studies {
  background-color: #587e76;
  border: solid;
  border-color: #c1502e;
  display: grid;
  grid-column: 1;
  grid-row: 3;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.625em;
  grid-auto-rows: min-content;
  max-width: 29.563em;
  padding: 0.625em;
}
#studies h2{
  grid-column: 1;
  grid-row: 1/2;

  align-content: center;
  align-self: center;
  align-items: center;
}
#school-logo {
  max-width: 50%;
  grid-column: 1;
  margin-left: auto;
  margin-right: auto;
  grid-row: 2/3;
  align-content: center;
  align-self: center;
  align-items: center;
}
#study-list{
  grid-column: 1;
  grid-row: 3/4;
  max-width: unset;
  align-self: center;
}
ol li{
  list-style-position: inside;
  list-style-type: none;
  padding: 0.333em;
}
ul{
  display: grid;
}
ul li{
  list-style-position: inside;
  list-style-type: circle;
  padding: 0.1em;
}
#experience {
  grid-column: 1;
  grid-row: 4;
  background-color: #587e76;
  max-width: 29.563em;
  padding: 0.625em;
  border: solid;
  border-color: #c1502e;
}
#skills {
  grid-column: 1;
  grid-row: 5;
  background-color: #587e76;
  max-width: 29.563em;
  padding: 0.625em;
  border: solid;
  border-color: #c1502e;
}
#linux-logo {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 35%;
  align-self: center;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #555;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
@media only screen and (min-width: 31.25em) {
  #biopicture {
    max-width: 100%;
    align-self: center;
  }
  #resume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.625em;
    grid-auto-rows: minmax(20.2em,auto);
  }
  #biopic {
    grid-column: 1/2;
    grid-row: 1;
    background-color: #587e76;
    max-width: unset;
    padding: 0.625em;
    border: solid;
    border-color: #c1502e;
    align-self: center;
  }
  #bio {
    grid-column: 2 / 3 ;
    grid-row: 1;
    background-color: #587e76;
    max-width: unset;
    min-height: 29.25em;
    padding: 0.625em;
    border: solid;
    border-color: #c1502e;
    align-self: center;
  }
  #studies {
    grid-column: 1 / 3;
    grid-row: 2;
    max-width: unset;
    background-color: #587e76;
    padding: 0.625em;
    border: solid;
    border-color: #c1502e;
  }
  #experience {
    grid-column: 1/2;
    grid-row: 3;
    max-width: unset;
    background-color: #587e76;
    padding: 0.625em;
    border: solid;
    border-color: #c1502e;
  }
  #skills {
    background-color: #587e76;
    border: solid;
    border-color: #c1502e;
    grid-column: 2/3;
    grid-row: 3;
    max-width: unset;
    padding: 0.625em;
  }
}

